body {
    padding: 80px;

}
h1{
    font-size: 2em;
    text-align: center;
}

body{
    background-color:rosybrown;
    font-size: 15px;
}

#pessoais{
   font-family:monospace;
   position: absolute;
   top: 20px;
   right: 100px;
    
}

#interacao{
    font-family: times;
    font-size: 20px;
}
.emp{
    font-size: 18px;
}
.col{
    font-size: 17px;
}
.comp{
    font-size: 16px;
}
#minha-foto {
    float: left;
    height: 180px;
    padding: 10px;
background-color: aliceblue;
}
.image-container {
    height: 200px;
    position: relative;
   
}
ul li:nth-child(odd) {
background-color: beige;
}


